.index {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index .contents {
  margin-top: 7vh;
  padding-top: 20px;
  display: flex;
  color: #e8547a;
  font-size: 28px;
  font-weight: bold;
}
@media (min-width: 320px) {
  .index .contents {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
